{% extends 'solicidadao/base_resposta.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
        <h2 class="text-white mt-0"> Resposta</h2>
		<hr class="divider my-4" />
        <h2 class="text-white mt-0">{{ resposta.assunto }}</h2>
	</div>
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 text-center">
        <div class="mt-0">
        	<p class="text-white-50 mb-3">Resposta: {{ resposta.resposta }}</p>
        	<p class="text-white-50 mb-3">Respondido em: {{ resposta.data_resposta }}</p>
    	</div>
    </div>
</div>

{% endblock %}