{% extends 'solicidadao/base_upa.html' %}
{% block content %}
	<div class="container">
		<h2 class="text-uppercase text-white font-weight-bold"> Solicitações </h2>
		<hr class="divider my-4" />
	</div>
	<div class="container">
		 <div class="row justify-content-center">
		{% for solicitacao_upa in solicitacoes_upa %}
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            	<a class="text-white font-weight-bold" href="{% url 'detalhe_solicitacao_upa' pk=solicitacao_upa.pk %}">{{ solicitacao_upa.card_sus }}</a>
                <p class="text-white-50 mb-4">{{ solicitacao_upa.rg|linebreaksbr }}</p>
        		</div>
        	</div>
    	{% endfor %}
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 align-self-baseline">
         <a class="btn btn-light btn-xl" href="{% url 'nova_solicitacao_upa' %}">Solicitar</a>
     </div>
    </div>
</div>

{% endblock %}    
  