{% extends 'solicidadao/base_iluminacao.html' %}
{% block content %}
	<div class="container">
		<h2 class="text-uppercase text-white font-weight-bold"> Solicitações </h2>
		<hr class="dividerlogin my-4" />
	</div>
	<div class="container">
		 <div class="row justify-content-center">
		{% for solicitacao_iluminacao in solicitacoes_iluminacao %}
        <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
            	<a class="text-white font-weight-bold" href="{% url 'detalhe_solicitacao_iluminacao' pk=solicitacao_iluminacao.pk %}">Iluminação</a>
                {% if solicitacao_iluminacao.comentario %}
                <p class="text-white-50 mb-3">Descrição: {{ solicitacao_iluminacao.comentario|linebreaksbr }}</p>
                {% else %}
                {% endif %}
        		</div>
        	</div>
    	{% endfor %}
        </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 align-self-baseline">
         <a class="btn btn-light btn-xl" href="{% url 'nova_solicitacao_iluminacao' %}">Solicitar</a>
     </div>
    </div>
</div>

{% endblock %}    
  