{% extends 'solicidadao/base_educacao.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
        <h2 class="text-white mt-0"> INFORMAÇÕES</h2>
		<hr class="divider my-4" />
        <h2 class="text-white mt-0">Histórico Escolar </h2>
	</div>
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 text-center">
        <div class="mt-0">
        	<p class="text-white-50 mb-3">Email: {{ solicitacao_educacao.email }}</p>
        	<p class="text-white-50 mb-3">CPF: {{ solicitacao_educacao.cadastro_pf }}</p>
        	<p class="text-white-50 mb-3">RG: {{ solicitacao_educacao.rg }}</p>
            <p class="text-white-50 mb-4">Colégio: {{ solicitacao_educacao.escola|linebreaksbr }}</p>
        	<p class="text-white-50 mb-3">Criado em: {{ solicitacao_educacao.data_criacao }}</p>
    	</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8 align-self-baseline">
        <a class="btn btn-light btn-xl mb-3" href="{% url 'enviar_email_educacao' pk=solicitacao_educacao.pk %}">Enviar</a>  
        <a class="btn btn-light btn-xl mb-3" href="{% url 'editar_solicitacao_educacao' pk=solicitacao_educacao.pk %}">Editar</a>
    </div>
</div>
{% endblock %}