{% load static %}
<html>
    <head>

        <title>HELP? CAN!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/detracan.css' %}">
    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
			<a href="{% url 'lista_solicitacao' %}" class="icones"><span class="glyphicon glyphicon-user"></a>  
            <a href="{% url 'nova_solicitacao' %}" class="icones"><span class="glyphicon glyphicon-plus"></a>
            <a href="{% url 'logout' %}" class="iconesInOut"><span class="glyphicon glyphicon-log-out"></a>
             
            <p class="username">Olá, {{ user.username }} </p>


    
        {% else %}
            <a href="{% url 'SignUp' %}" class="iconesInOut"><span class="glyphicon glyphicon-user"></span></a>
            <a href="{% url 'login' %}" class="iconesInOut"><span class="glyphicon glyphicon-lock"></span></a>  
        {% endif %}

        <div class="container">
            <div class="titulo">
            	{% if user.is_authenticated %}
                	<h1><a href="{% url 'lista_solicitacao' %}">HELP? CAN!</a></h1>
                {% else %}
                	<h1><a href="{% url 'inicio' %}">HELP? CAN!</a></h1>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>