{% extends 'detracan/base.html' %}
{% block content %}
	<div class="container">
		<div class="titulo">
			<h2> Solicitações </h2>
			<div class="titulo-barra">
			</div>
		</div>
	</div>
<div class="container">
	<div class="row align-items-center">
  		{% for solicitacao in solicitacoes %}
  				<div class="lista-centralizada">
        			<div class="post">
        				<div class="date">
        					{{ solicitacao_data_criacao }}
           				</div>
            			<h1><a href="{% url 'detalhe_solicitacao' pk=solicitacao.pk %}">{{ solicitacao.tipo }}</a></h1>
                   <p>{{ solicitacao.comentario|linebreaksbr }}</p>
        		</div>
        	</div>
    	{% endfor %}
    </div>
</div>
{% endblock %}    
  